* {
  font-family: 'Orbitron', Verdana, Arial, sans-serif;
}
/*
div.container.ng-scope{
    position: absolute;
    width: 660px;
    margin-left: 100px;
}*/
/*nav {opacity:0.5;transition:opacity 0.3s;}
nav.opaque {opacity:1;}*/
div#center {
  text-align: center;
}

.float-my-children > * {
    float:left;
    margin-right:5px;
}
h1,
h2,
h3,
h4,
h5,
h6{
  text-align: center;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255, 152, 0, 1);
  /*background-color: rbga(#FFF, 0.5)*/
  text-align: center;
  font-size: 12px;
}

/*.parallax-container {
  height: "450";
}*/

.thumb {
  max-height: 196px;
  max-width: 196px;
  overflow: hidden;
  display: flex;
  position: relative;
  border: 2px;
  border-color: cyan;
}

.thumb-container {
  width: 100%;
}

.ib {
  display:inline-block;
  /*width: 100%;
  height: auto;*/
}
