<!-- url: '/review',
templateUrl: '../partials/add_review.html' -->

<!-- Add review -->

<div class="container">
  <h2>Add review of the star or booger toy!</h2>

    <!-- hold all reviews of the login user -->
    <div class="container">
      <h5>First, choose the photo.<br /></h5>
      <h5>Then, click to add comment.</h5>
      <br />
      <label for="search">Search for the name of the toy:</label>
      <input type="text" id="search_term" />    <!-- capture user's search_term as query -->
      <button ng-click="main.getPhotos()">get Photos</button> <!-- on click, run the getPhotos function -->

    </div>


  <div class="row">
    <div class="thumb-container col s6" >
      <div class="ib" ng-repeat="photo in main.photos">   <!-- populate the thumbnails photos in a div -->

        <a ng-click="main.choosePhoto(photo)" href target="_blank">
          <img ng-src="{{photo.thumbnailUrl}}" class="thumb" />
        </a>
      </div>
    </div>

    <div class="col s6 offset-8">
      <img ng-src={{main.chosen}} />
      <p align="center">
        <button ng-click="main.gotoComment()">Add comment</button>
      </p>

    </div>


  </div>

</div>
