<!-- url: '/review',
templateUrl: '../partials/add_review.html' -->

<!-- Add review -->

  <h2>Add review of the star or booger toy!</h2>

    <!-- hold all reviews of the login user -->
    <div class="container" id="center">
      <h5>First, choose the photo.<br /></h5>
      <h5>Then, save your comment!</h5>
      <br />
      <label for="search">Search for the name of the toy:</label>
      <input type="text" id="search_term" ng-model="main.toy_name" />    <!-- capture user's search_term as query -->
      <button ng-click="main.getPhotos()">get Photos</button> <!-- on click, run the getPhotos function -->
    </div>

  <div class="row" id="center">
    <!-- <div class="inline-block"> -->
      <div class="col s12">
        <div class="thumb-container" >
          <div class="ib" ng-repeat="photo in main.photos">   <!-- populate the thumbnails photos in a div -->

            <a ng-click="main.choosePhoto(photo)" href target="_blank">
              <div class = "card">
                <div class = "card-image">
                  <img ng-src="{{photo.thumbnailUrl}}" class="thumb"/>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <!-- <div class="inline-block">
      <div class="col s6">
        <img ng-src={{main.chosen}} />
      </div>
    </div> -->
  </div>

 <!-- Here's the review details form -->
  <div class="row" id="center">
    <div class="col s12">
      <img ng-src={{main.chosen}} />
      <form>
        <div class="switch">
          <label>
          Starlist
            <input type="checkbox" ng-model="main.isBooger"/>
          <span class="lever"></span>
          Boogerlist</label>
        </div>
        <br />
        <div>
            <label for="toy reviewer">Hey, Toy Reviewer! Type your name here:</label>
            <input ng-model="main.reviewer" type="text" id="toy_reviewer" />
        </div>

        <div>
            <label for="comment">Tell us what you think about this toy</label>
            <textarea ng-model="main.comment" id="comment"></textarea>
        </div>
        <button type="submit" ng-click="main.createReview()">Save my Review</button>
      </form>
    </div>
  </div>
  <!-- End of review details form -->
