<!-- url: '/star',
templateUrl: '../partials/add_star.html -->

<div class="container">
  <h2>Create review for your star toy!</h2>


<div class="Temp-Photo-Container col-4" style="float:right">
    <button ng-click="main.loadTempPhoto()">Click here for Photo</button>

  <form>
      <!-- <div>
          <label for="starlist">Starlist:</label>
          <input type="text" id="star" />
      </div> -->
      <div class="switch">
        <label>
        Starlist
          <input type="checkbox" ng-model="main.isBooger"/>
        <span class="lever"></span>
        Boogerlist</label>
      </div>

      <div>
          <label for="toy name">Toy Name:</label>
          <input ng-model="main.toy_name" type="text" id="toy_name" />
      </div>
      <div>
          <label for="toy reviewer">Toy Reviewer:</label>
          <input ng-model="main.reviewer" type="text" id="toy_reviewer" />
      </div>
      <div>
          <label for="date">Date:</label>
          <input ng-model="main.date" type="Date" id="date" />
      </div>
      <div>
          <label for="comment">What do you like about this toy?</label>
          <textarea ng-model="main.comment" id="comment"></textarea>
      </div>
      <button type="submit" ng-click="main.createReview()">Save my Review</button>
  </form>

</div>
</div>
