<!-- url: '/star',
templateUrl: '../partials/add_star.html -->

<div class="container">
  <h2>Create review for your star toy!</h2>

  <img />
  <h6>Toy Name: </h6>  <input type="textbox" />
  <form action="/my-handling-form-page" method="post">
      <div>
          <label for="starlist">Starlist:</label>
          <input type="text" id="star" />
      </div>
      <div>
          <label for="toy name">Toy Name:</label>
          <input type="text" id="toy_name" />
      </div>
      <div>
          <label for="toy reviewer">Toy Reviewer:</label>
          <input type="text" id="toy_reviewer" />
      </div>
      <div>
          <label for="date">Date:</label>
          <input type="Date" id="date" />
      </div>
      <div>
          <label for="comment">What do you like about this toy?</label>
          <textarea id="comment"></textarea>
      </div>
  </form>
  </li>
</div>
