<h1>Welcome to Toy Pulse!!!</h1>

<div class="parallax-container">
  <div class="parallax"><img ng-src="url(images/disney_characters.png)"></div>
</div>

<!-- ng-style="{'background-image':'url(images/cat.jpg)'}" -->
<!-- <img ng-src="../images/disney_characters.png"/> -->

<h1>Why Toy Pulse?</h1>
<p>
Most of the Toy review apps are for Parents. But in reality,
it's kids who play with the toys!!! At least, most of the time ;)
So, why don't I create an app for kids instead? And I did.
</p>
<img ng-src="../images/lego.jpg"/>
<h1>What Toy Pulse does?</h1>
<p>
It's where kids can share what they like and dislike about the toys or games.
Kids can make comments and give stars to the toys they like and give boogers
for the toys they dislike. Kids can see other kids comments on toys and so do
parents! So parents, check this out before you make your toy purchase on what kids
really like.
</p>
<img ng-src="../images/minions.jpg" />
