<h1>Welcome to Toy Pulse!!!</h1>
<div>
  <img class="responsive-img" height="500px" ng-src="https://s3.amazonaws.com/toy-pulse/images/disney_characters.jpg"/>
</div>

<h1>Why Toy Pulse?</h1>
<p>
Most of the Toy review apps are for Parents. But in reality,
it's kids who play with the toys!!! At least, most of the time ;)
So, why don't I create an app for kids instead?
</p>
<img class="responsive-img" height="250px"  ng-src="https://s3.amazonaws.com/toy-pulse/images/minions2.jpg" />
<h1>What Toy Pulse does?</h1>
<p>
It's where kids can share what they like and dislike about the toys or games.
Kids can make comments and give stars to the toys they like and give boogers
for the toys they dislike. Kids can see other kids comments on toys and so do
parents! My hope is that parents can check this out before they make decisions on toy purchases that arevbased on what kids
really like and toy industry can review and perhaps gain insights into creating better toys for the young brillant minds.
</p>
<img class="responsive-img" height="500px"  ng-src="https://s3.amazonaws.com/toy-pulse/images/lego-simpsons2.jpg" />
