<!-- url: '/listing',
templateUrl: '../partials/listing.html' -->
<!-- <div class="container"> -->
<h2>All the reviews of the star and booger toys!</h2>
<br />
  <!-- hold all reviews of ALL users-->
<ul ng-repeat="r in global.allReviews | orderBy: '-date'">
  <li>
    <div >
      <table style="width:90%" >

        <tr>
          <td><img width="300px" ng-src="{{r.img_url}}" class="clearfix float-my-children" ></td>
          <td>
              <h6>Toy Name: {{r.toy_name}} </h6><br />
              <h6>This belongs to Boogerlist: {{r.boogerlist}} </h6><br />
              <h6>Reviewer: {{r.reviewer}} </h6><br />
              <h6>Date: {{r.date| date:'MM/dd/yyyy'}} </h6><br />
              <h6>Comment: {{r.comment}}</h6>
          </td>
        </tr>
      </table>



    </div>



<!--
    <button id="edit"  ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click="main.destroyReview(r._id, $index)"><i class="material-icons">delete</button> -->
  </li>
</ul>


<!-- </div> -->
