<!-- url: '/listing',
templateUrl: '../partials/listing.html' -->
<div class="container">
<h1>All the reviews of the star and booger toys!</h1>

  <!-- hold all reviews of ALL users-->

  <div class="container" id="1">
    <span>Latest review -0</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>
  <div class="container" id="2">
    <span>Latest review -1</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>
  <div class="container" id="3">
    <span>Latest review -2</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>
  <div class="container" id="4">
    <span>Latest review -3</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>
  <div class="container" id="5">
    <span>Latest review -4</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>
  <div class="container" id="6">
    <span>Latest review -5</span><button id="edit">Make changes</button>  <button id="delete">Delete</button>
  </div>

</div>
