<!-- url: '/listing',
templateUrl: '../partials/listing.html' -->
<div class="container">
<h2>All the reviews of the star and booger toys!</h2>
<br />
  <!-- hold all reviews of ALL users-->

<ul>
  <li><h5>Review 1</h5><button id="edit"  ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>
<ul>
  <li><h5>Review 2</h5><button id="edit" ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>
<ul>
  <li><h5>Review 3</h5><button id="edit" ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>
<ul>
  <li><h5>Review 4</h5><button id="edit" ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>
<ul>
  <li><h5>Review 5</h5><button id="edit" ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>
<ul>
  <li><h5>Review 6</h5><button id="edit" ng-click=""><i class="material-icons">mode_edit</i></button>
    <button id="delete" ng-click=""><i class="material-icons">delete</button>
    </li>
</ul>


</div>
