<!-- url: '/profile',
templateUrl: '../partials/profile.html' -->

<div class="container">
  <h1>Your Profile</h1>

  <input type="text" ng-model="profile.user.email" placeholder="Parent's email"><br>
  <input type="text" ng-model="profile.user.parent_name" placeholder="Parent's name"><br>
  <input type="text" ng-model="profile.user.child" placeholder="Child's name"><br>
  <input type="password" ng-model="profile.user.password" placeholder="Password"><br>
  <br>

  <button ng-click="profile.edit()">Update my info!</button>

</div>
