<!-- url: '/yourreview',
templateUrl: '../partials/your_review.html' -->

<div class="container">
  <h2>Your review of the toys!</h2>

    <!-- hold all reviews of the login user -->
    <div class="container" id="0">

      <span>Latest review -0</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

    <div class="container" id="1">

      <span>Latest review -1</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

    <div class="container" id="2">

      <span>Latest review -2</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

    <div class="container" id="3">

      <span>Latest review -3</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

    <div class="container" id="4">

      <span>Latest review -4</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

    <div class="container" id="5">

      <span>Latest review -5</span>
        <button id="edit" ng-click="main.update()"><i class="material-icons left">mode_edit</i></button>
        <button id="delete" ng-click="main.delete()"><i class="material-icons left">delete</i></button>
    </div>

</div>
