<div class="container">
  <h2>Your review of the toys!</h2>
<!--
  <img />
  <h6>Toy Name: </h6>  <input type="textbox" />
  <form action="/my-handling-form-page" method="post">
      <div>
          <label for="starlist">Starlist:</label>
          <input type="text" id="star" />
      </div>
      <div>
          <label for="toy name">Toy Name:</label>
          <input type="text" id="toy_name" />
      </div>
      <div>
          <label for="toy reviewer">Toy Reviewer:</label>
          <input type="text" id="toy_reviewer" />
      </div>
      <div>
          <label for="date">Date:</label>
          <input type="Date" id="date" />
      </div>
      <div>
          <label for="comment">What do you like about this toy?</label>
          <textarea id="comment"></textarea>
      </div> -->

      <!-- hold all reviews of the login user -->
      <div class="container" id="1">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>
      <div class="container" id="2">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>
      <div class="container" id="3">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>
      <div class="container" id="4">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>
      <div class="container" id="5">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>
      <div class="container" id="6">
        <span>Latest review</span>&nbsp<button id="edit">Make changes</button>  <button id="delete">Delete</button>
      </div>

  </form>
</div>
